body {
  color: #cccccc;
  background: #ffffff url("../img/band.png") no-repeat right top;
  margin: 20px;
}

h1 {
  text-align: right;
  color: #000000;
}

.side {
  float: right;
  width: 27%;
  height: 200px;
  background: aliceblue;
  color: #333333;
  padding: 7px;
}
.main {
  background-color: #660066;
  color: #f5f5f5;
  height: 400px;
  padding: 7px;
}

a {
  color: #000000;
}

img {
  width: 200px;
  margin: 12px;
  float: left;
}

.logo {
  width: 300px;
  margin-left: 200px;
  float: none;
}